/* En tu archivo CSS (icons.css) */
[class^="icon-"], [class*=" icon-"] {
  /* Resto de tus estilos */
  font-family: 'icomoon' !important;
}

.icon-camera {
  width: 300px; /* Ajusta el ancho según tus necesidades */
  height: 300px; /* Ajusta la altura según tus necesidades */
  background: url('camara\(3\).svg') center center no-repeat;
  background-size: contain; /* Ajusta según tus necesidades */
}

.icon-cross {
  width: 60%; /* Ajusta el ancho según tus necesidades */
  height: 60%; /* Ajusta la altura según tus necesidades */
  background: url('x3.svg') center center no-repeat;
  background-size: contain; /* Ajusta según tus necesidades */
}


.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  min-width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.button-container {
  width: 100%;
  text-align: center;
}

.button-container button:hover {
  background: #2780da;
}

.images-cards figure {
  position: relative;
}

.images-cards img {
  height: 210px;
}

.images-cards figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 44px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s all ease;
}

.images-cards figure figcaption:hover {
  opacity: 1;
}

#Images .add-new-photo {
  display: flex;
  border: 4px dashed #fff;
  height: 100%;
  min-height: 240px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all ease;
}

#Images .add-new-photo.first:hover {
  background: rgba(255, 255, 255, 0.17);
}

#add-photo-container0 input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; /* Añade esta línea para mostrar el cursor como puntero */
}
